* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

h1 {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    text-shadow: #103345 2px 2px 4px;
}

/* Content Headings */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Benefits Headings */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Footer Heading */
h4 {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* Color change in Header Text */
.seo {
    color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
}

/* Hero image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles for Content section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
    box-shadow: #103345 2px 2px 4px;
}

.content img {
    max-height: 200px;
}

/* Styles for Benefits section */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    box-shadow: #103345 2px 2px 4px;
}

.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles for Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


